# -----------------------------
# Modelos descargados
# -----------------------------
Modelos/

# -----------------------------
# BrainAccess SDK (descargado automáticamente)
# -----------------------------
BrainAccess/
BrainAccess.zip
