# -----------------------------
# Configuración local (no versionar)
# -----------------------------
EEG_app/config/default/connection.json

# -----------------------------
# Modelos descargados
# -----------------------------
lib/Modelos/

# -----------------------------
# BrainAccess SDK (descargado automáticamente)
# -----------------------------
lib/BrainAccess/
BrainAccess.zip

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class