# -----------------------------
# Configuración local (no versionar)
# -----------------------------
EEG_app/config/default/connection.json

# -----------------------------
# Modelos descargados
# -----------------------------
lib/Modelos/

# -----------------------------
# BrainAccess SDK (descargado automáticamente)
# -----------------------------
lib/BrainAccess/
BrainAccess.zip

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# Latex
*.acn
*.acr
*.alg
*.aux
*.bak
*.bbl
*.bcf
*.blg
*.brf
*.bst
*.dvi
*.fdb_latexmk
*.fls
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lol
*.lot
*.maf
*.mtc
*.mtc1
*.nav
*.nlo
*.nls
*.out
*.pdf
*.pyg
*.run.xml
*.snm
*.synctex.gz
*.tex.backup
*.tex~
*.thm
*.toc
*.vrb
*.xdy
*.xml
*blx.bib
.bak 
.mtc
build/